.titleView{
  margin-top: 2em;
}
.postTitle{
  padding-left: 2em;
}
.postContent{
  margin-top: 2em;
}
.con{
  min-height: 15em;
}
.boardBtn{
  color: rgb(0, 180, 0);
  background-color: white;
  border: none;
}
.boardBtn:hover{
  cursor: pointer;
}
.contentView{
  width: 100%;
  text-align: left;
}
.contentView .con{
  margin-left: 2em;
}
.postWrapper > hr{
  margin-left: 2em;
  margin-right: 2em;
}
.commentHeart{
  margin-left: 2em;
}
.commentHeart:hover{
  cursor: pointer;
}