.postView{
  border: 1px solid rgb(167, 167, 167);
  border-radius: 1em;
  margin-left: 8em;
}
.titleView{
  margin-top: 2em;
}
.postTitle{
  padding-left: 2em;
}
.postContent{
  margin-top: 2em;
}
.boardBtn{
  color: rgb(0, 180, 0);
  background-color: white;
  border: none;
}
.boardBtn:hover{
  cursor: pointer;
}
.contentView{
  width: 100%;
  min-height: 15em;
  text-align: left;
}
.contentView .con{
  margin-left: 2em;
}
.postWrapper > hr{
  margin-left: 2em;
  margin-right: 2em;
}