.titleView{
    margin-top: 2em;
}
.postTitle{
  padding-left: 2em;
}
.ViewCopy{
  margin-left: auto;
  padding-top: 32px;
}
.ViewCopy > button{
  border: none;
  background-color: white;
  padding-right: 1em;
  padding-bottom: 1em ;
}
.ViewCopy > button:hover{
  cursor: pointer;
}