.commentView{
  margin-top: 1em;
}
.createCommentBox{
  border: 2px solid rgb(167, 167, 167);
  border-radius: 8px;
  width: 80%;
  max-width: 90%;
  margin: 1em 4em;
}
.createComment{
  border: none;
  width: 80%;
  min-height: 2em;
  margin: 1em;
}
.comment{
  margin-left: 2em;
}
.submitBtn{
  width: 15%;
  border: none;
  background-color: white;
  color: rgb(167, 167, 167);
}
.submitBtn:hover{
  cursor: pointer;
}