.createCommentBox{
  width: 1600px;
}
.createComment{
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 4em;
  border-radius: 5px;
  width: 80%;
  min-height: 4em;
}
.comment{
  margin-left: 2em;
  min-height: 7em;
}
.submitBtn{
  width: 3em;
  border: none;
  margin-left: 2em;
}
.submitBtn:hover{
  cursor: pointer;
}