.headerWrap{
	max-width: 800px;
	border-bottom: 1px solid black;
	margin: 20px;
	padding-left: 20px;
	padding-bottom: 20px;

	display: flex;
	justify-content: space-between
}

h2{
	max-width: 800px;
	height: 50px;

	margin-left: 20px;
	margin-top: 20px;
	padding-left: 20px;
}

#list {
	width: 800px;
	margin-left: 20px;
	margin-bottom: 20px;

	border: none;
	text-align: center;
}

#list > td, th{
	border: none;
}

.searchBar{
	max-width: 800px;
	border-top: 1px solid black;
	margin: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.wrapInput > form{
	display: flex;
	justify-content: center;
	gap: 10px;
}