.minProfile{
  display: flex;
  gap: 10px;
  padding-left: 2em;
  padding-right: 1em;
}
.minImg{
  width: 32px;
  height: 32px;
  padding-top: 1em;
  padding-left: 1em;
}
.userID{
  font-weight: bold;
}