html, body, ol, ul, li, div, span, header, footer, section,
article, h1, h2, h3, h4, h5, h6, p, a, img, hr, input, form,
button, table, tr, td, th, tbody, br{
	margin: 0px;
	padding : 0px;
} 

body{
	width: 1920px;
	margin:0 auto;
}
ul, li {
	list-style: none;
}
a {
	text-decoration: none;
	color : black;
}

a:visited {
	text-decoration: none;
	color : black;
}

img {
	border : none;
}

th,td{
	width : 100px;
}

.header{
	width: 100%;
	height: 180px;
	margin-bottom: 30px;
	background-color: bisque;
}

.aside{
	width: 10%;
	height: 10%;
	border: 1px solid #7c7c7c;
	border-radius: 8px;
	padding: 1rem 1rem;
}

.App > .wrap{
	display: flex;
	justify-content: center;
	gap: 30px;
}

.main{
	width: 40%;
	height: 20%;
	border: 1px solid #7c7c7c;
	border-radius: 8px;
	box-sizing:border-box; /*포함 시킬지 말지*/
}